RewriteEngine on
RewriteRule ^accueil$ index.html
RewriteRule ^biere/([0-9]+)$ biere.html?id=$1 [END]
RewriteRule ^biere$ biere.html
RewriteRule ^mentionslegales$ mentionslegales.html
RewriteRule ^paiement$ paiement.html
RewriteRule ^panier$ panier.html
RewriteRule ^remerciment$ remerciment.html
