/** GENERAL**/
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');

html {
    font-family: 'Alegreya SC', serif;
    background-color: #1E1D1A;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2rem;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input {
    font-family: 'Alegreya SC', serif;
    font-size: 1.2rem;
    font-weight: bold;
}

button {
    font-family: 'Alegreya SC', serif;
    color: white;
    background-color: #E36016;
    font-size: 1.25rem;

    border: none;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

button:hover {
    opacity: 90%;
    cursor: pointer;
}



/** HEADER **/
header {
    display: flex;
    justify-content: space-between;
}

header #blocLogo {
    display: flex;
    text-decoration: none;
    color: #E36016;
    font-size: 1.5rem;
}

header #blocLogo #logo {
    margin-top: 0.5rem;
    width: 5rem;
}

header #blocLogo span {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

header #links {
    display: flex;
    margin-top: 2rem;
    justify-content: space-around;
}

header #links img {
    width: 2rem;
}

header #links a {
    padding: 0 2rem 0 0;
}


/** MAIN **/
main {
    padding: 0 8rem 0 8rem;
    min-height: 0;
    flex-grow: 1;
}


/** FOOTER **/
footer {
    box-shadow: 0 -1px 50px rgba(49, 49, 48, 0.35);
    margin-top: 5rem;
    height: 8rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer a, footer p {
    color: rgba(255, 255, 255, 0.51);
    padding: 0 1rem 0 1rem;
}
