@import './commun.css';

main {
    display: flex;
    justify-content: space-between;
    column-gap: 4rem;
}

#panier h1 {
    margin: 0 0 1rem 0;
}

#suggestion h2 {
    margin: 3rem 0 1rem 0;
}

#panier > div, #suggestion > div {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content;
    grid-auto-flow: row;
    gap: 1rem 2rem;

    justify-items: center;
    align-items: center;

    max-width: 50%;
}

#panier > div img,
#suggestion > div img {
    width: 5rem;
}

#panier .infoBiere,
#suggestion .infoBiere {
    display: flex;
    flex-direction: column;
}

#panier > div .infoBiere div,
#suggestion > div .infoBiere div {
    display: flex;
    column-gap: 2rem;
}

#panier > div .infoBiere p,
#suggestion > div .infoBiere p {
    margin: 0;
    padding: 0;
}

#panier > div > div span,
#suggestion > div > div span {
    display: flex;
}

#panier input,
#suggestion input {
    width: 5rem;
}

#commande > div > span {
     display: flex;
     justify-content: space-between;
}

#commande > div:last-child {
    text-align: center;
}